#
# Nginx proxy for Elasticsearch + Kibana
#
# In this setup, we are password protecting the saving of dashboards. You may
# wish to extend the password protection to all paths.
#
# Even though these paths are being called as the result of an ajax request, the
# browser will prompt for a username/password on the first request
#
# If you use this, you'll want to point config.js at http://FQDN:80/ instead of
# http://FQDN:9200
#
server {
  listen                *:{{ kibana_nginx_port }};

  server_name           {{ kibana_server_name }};
  access_log            /var/log/nginx/kibana.access.log;

  {% if kibana_password_protect_all %}
  auth_basic "Restricted Access";
  auth_basic_user_file /etc/nginx/conf.d/kibana.htpasswd;
  {% endif %}


  location / {
    proxy_pass http://127.0.0.1:{{ kibana_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
